@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
  <a asp-controller="CarrinhoCompra" asp-action="Index">
      <span><img src="~/images/cart-5-16.ico" width="25"/></span>
      <span style="color:white"></span>
        @Model.CarrinhoCompra.CarrinhoCompraItems.Count
  </a>
}