<div class="container">
    <p>
        <b> Nossa História</b>

       <p>
           Olá, somos a Lanchonete Lanche ou Net, uma pequena lanchonete que começou a operar em agosto deste ano, 
           fundada e gerenciada por Luis Guilherme. Desde o nosso início, temos nos esforçado para oferecer uma experiência única de lanches deliciosos,
           convenientes e inovadores. 
        </p>

        <b>Sobre o Dono - Luis Guilherme</b>

        Nome: Luis Guilherme<br />
        Idade: 33 anos<br />
        Profissão: Analista de Sistema<br />

        <p>
            Luis Guilherme, o proprietário da Lanche ou Net, é um entusiasta de lanches e alimentos desde muito jovem.
            Com sua formação em análise de sistemas, ele trouxe uma abordagem inovadora para o mundo das lanchonetes.
            Com seu espírito empreendedor e paixão por criar receitas únicas, ele decidiu abrir a Lanche ou Net para trazer algo especial para a comunidade.
        </p>

        <b> Nossa Missão</b>

       <p>
           Na Lanche ou Net, nossa missão é criar lanches deliciosos e inovadores que satisfaçam todos os paladares. 
           Estamos empenhados em oferecer aos nossos clientes um serviço amigável e conveniente, tornando a experiência de fazer um lanche uma verdadeira alegria.
        </p>

         <b> Nossa Visão </b>

       <p>  Nossa visão é nos tornar a lanchonete de referência na região, conhecida por nossos lanches saborosos e criativos,
              atendimento excepcional ao cliente e inovação constante em nosso menu.
       </p>

    <b> Nossos Valores</b><br />

        <b>Qualidade:</b> Comprometemos-nos a utilizar ingredientes frescos e de alta qualidade em todos os nossos produtos.<br />
        <b>Inovação:</b> Estamos sempre buscando novas ideias e sabores para surpreender nossos clientes.<br />
        <b>Atendimento ao Cliente:</b> Valorizamos nossos clientes e trabalhamos para superar suas expectativas em todos os aspectos.<br />
        <b>Sustentabilidade:</b> Estamos comprometidos com práticas sustentáveis em nossa operação.<br />
    <br />
    <b>Nossa Equipe</b>

        A equipe da Lanche ou Net é composta por profissionais dedicados que compartilham a paixão por alimentos saborosos e atendimento de qualidade. Estamos aqui para garantir que sua experiência em nossa lanchonete seja memorável.
    <br /><br />
    Entre em Contato<br />

        Se você quiser saber mais sobre nós, entre em contato conosco ou nos visite em nossa lanchonete. Estamos ansiosos para atendê-lo e compartilhar nossa paixão por lanches deliciosos.
    </p>


    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="guilherme.becel@gmail.com" conteudo="Enviar></email></h5>
            <br/>
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(12) 99626-7616</h5>
            <br/>
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5> Rua Monsenhor José Vita, 280 - Abernéssia - Campos do Jordão - SP 12460-000</h5>
        </p>
    </div>
</div>