@model HomeViewModel 

<partial name="_Carousel"/>

<h2> Destaque da Semana</h2>
<h4>Hmmm que delicia!!!</h4>

<div class="row">
    @foreach(var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>